@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- Vietnam Hotels Section -->
<div class="container mt-4">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title text-center text-warning text-uppercase">Our Hotels</h6>
        <h1 class="mb-5">Explore <span class="text-warning text-uppercase">VietNam Hotels</span></h1>
    </div>
    <!-- Add the owl-carousel class here -->
    <div class="owl-carousel vietnam-hotels-carousel wow fadeInUp" data-wow-delay="0.1s">
        @if (Model.Hotels != null && Model.Hotels.Any())
        {
            @foreach (var hotel in Model.Hotels.Where(h => h.HotelAddress.Contains("VietNam", StringComparison.OrdinalIgnoreCase)))
            {
                var hotelImage = Model.HotelImages?.FirstOrDefault(img => img.HotelId == hotel.HotelId);
                <a asp-page="" class="room-item rounded d-block text-decoration-none">
                    <div class="room-item rounded">
                        <div class="position-relative">
                            <img class="img-fluid" src="@hotelImage.ImageUrl" alt="Hotel Image">
                            <small class="position-absolute start-0 top-100 translate-middle-y bg-warning text-white rounded py-1 px-3 ms-4"><i class="fa fa-solid fa-hotel"></i> Hotel</small>
                        </div>
                        <div class="p-4 mt-2">
                            <h5 class="mb-0">@hotel.HotelName</h5>
                            <div class="d-flex justify-content-between mb-3">
                                <div class="ps-0">
                                    <small class="fa fa-star text-warning"></small>
                                    <small class="fa fa-star text-warning"></small>
                                    <small class="fa fa-star text-warning"></small>
                                    <small class="fa fa-star text-warning"></small>
                                    <small class="fa fa-star text-warning"></small>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <small class="border-end me-3 pe-3">
                                    <i class="fa-solid fa-location-dot text-warning me-2"></i>@hotel.HotelAddress
                                </small>
                            </div>
                            <p class="text-body mb-3">@hotel.HotelDescription</p>
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>

<!-- International Hotels Section -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-warning text-uppercase">Our Hotels</h6>
            <h1 class="mb-5">Explore <span class="text-warning text-uppercase">International Hotels</span></h1>
        </div>
        <div class="owl-carousel international-hotels-carousel wow fadeInUp" data-wow-delay="0.1s">
            @if (Model.Hotels != null && Model.Hotels.Any())
            {
                @foreach (var hotel in Model.Hotels.Where(h => !h.HotelAddress.Contains("VietNam", StringComparison.OrdinalIgnoreCase)))
                {
                    <a asp-page="" class="room-item rounded d-block text-decoration-none">
                        <div class="room-item rounded">
                            <div class="position-relative">
                                <img class="img-fluid" src="img/room-1.jpg" alt="Hotel Image">
                                <small class="position-absolute start-0 top-100 translate-middle-y bg-warning text-white rounded py-1 px-3 ms-4"><i class="fa fa-solid fa-hotel"></i> Hotel</small>
                            </div>
                            <div class="p-4 mt-2">
                                <h5 class="mb-0">@hotel.HotelName</h5>
                                <div class="d-flex justify-content-between mb-3">
                                    <div class="ps-0">
                                        <small class="fa fa-star text-warning"></small>
                                        <small class="fa fa-star text-warning"></small>
                                        <small class="fa fa-star text-warning"></small>
                                        <small class="fa fa-star text-warning"></small>
                                        <small class="fa fa-star text-warning"></small>
                                    </div>
                                </div>
                                <div class="d-flex mb-3">
                                    <small class="border-end me-3 pe-3"><i class="fa-solid fa-location-dot text-warning me-2"></i>@hotel.HotelAddress</small>
                                </div>
                                <p class="text-body mb-3">@hotel.HotelDescription</p>
                            </div>
                        </div>
                    </a>
                }
            }
        </div>


    </div>
</div>


<div class="container-xxl py-5 px-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Luxury Living</h6>
                <h1 class="text-white mb-4">Discover A Brand Luxurious Hotel</h1>
                <p class="text-white mb-4">
                    Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                    Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
                    sed stet lorem sit clita duo justo magna dolore erat amet
                </p>
                <a href class="btn btn-primary py-md-3 px-md-5 me-3">Our Rooms</a>
                <a href class="btn btn-light py-md-3 px-md-5">Book A Room</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="video">
                <button type="button" class="btn-play" data-bs-toggle="modal"
                        data-src="https://www.youtube.com/embed/DWRcNpR6Kdc">
                    <span></span>
                </button>
            </div>
        </div>
        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src id="video" allowfullscreen
                                    allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-warning text-uppercase">Our Services</h6>
            <h1 class="mb-5">Explore Our <span class="text-warning text-uppercase">Services</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="service-item text-center rounded" href="">
                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-hotel fa-2x text-warning"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Rooms & Appartment</h5>
                    <p class="text-body mb-0">
                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
                        sed diam stet diam sed stet lorem.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <a class="service-item text-center rounded" href="">
                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-utensils fa-2x text-warning"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Food & Restaurant</h5>
                    <p class="text-body mb-0">
                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
                        sed diam stet diam sed stet lorem.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="service-item text-center rounded" href="">
                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-spa fa-2x text-warning"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Spa & Fitness</h5>
                    <p class="text-body mb-0">
                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
                        sed diam stet diam sed stet lorem.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <a class="service-item text-center rounded" href="">
                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-swimmer fa-2x text-warning"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Sports & Gaming</h5>
                    <p class="text-body mb-0">
                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
                        sed diam stet diam sed stet lorem.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="service-item text-center rounded" href="">
                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-glass-cheers fa-2x text-warning"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Event & Party</h5>
                    <p class="text-body mb-0">
                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
                        sed diam stet diam sed stet lorem.
                    </p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <a class="service-item text-center rounded" href="">
                    <div class="service-icon bg-transparent border rounded mx-auto mb-4 p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-dumbbell fa-2x text-warning"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">GYM & Yoga</h5>
                    <p class="text-body mb-0">
                        Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem
                        sed diam stet diam sed stet lorem.
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Blog Post</h6>
            <h1 class="mb-5">Latest From <span class="text-primary text-uppercase">Blog</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="blog-item rounded">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/blog-1.jpg" alt>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mx-n2 mb-3">
                            <small class="mx-2"><i class="fa fa-user-alt text-primary me-2"></i>John Doe</small>
                            <small class="mx-2"><i class="fa fa-calendar-alt text-primary me-2"></i>01 Jan 2045</small>
                        </div>
                        <h5 class="lh-base mb-3">
                            Diam rebum diam clita rebum lorem ipsum sed elitr diam sed clita amet
                        </h5>
                        <a href class="fw-medium text-uppercase">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="blog-item rounded">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/blog-2.jpg" alt>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mx-n2 mb-3">
                            <small class="mx-2"><i class="fa fa-user-alt text-primary me-2"></i>John Doe</small>
                            <small class="mx-2"><i class="fa fa-calendar-alt text-primary me-2"></i>01 Jan 2045</small>
                        </div>
                        <h5 class="lh-base mb-3">
                            Diam rebum diam clita rebum lorem ipsum sed elitr diam sed clita amet
                        </h5>
                        <a href class="fw-medium text-uppercase">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="blog-item rounded">
                    <div class="overflow-hidden">
                        <img class="img-fluid" src="img/blog-3.jpg" alt>
                    </div>
                    <div class="p-4">
                        <div class="d-flex mx-n2 mb-3">
                            <small class="mx-2"><i class="fa fa-user-alt text-primary me-2"></i>John Doe</small>
                            <small class="mx-2"><i class="fa fa-calendar-alt text-primary me-2"></i>01 Jan 2045</small>
                        </div>
                        <h5 class="lh-base mb-3">
                            Diam rebum diam clita rebum lorem ipsum sed elitr diam sed clita amet
                        </h5>
                        <a href class="fw-medium text-uppercase">Read More <i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
