@page
@model TripEnjoy.Presentation.Razor.Pages.ListSearchHotelModel
@{
    ViewData["Title"] = "Search room";
}
<div class="container-xxl bg-white p-0">

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-8">
                    <div class="sort-box">
                        <div class="sort-content">
                            <b>Show Price: </b>
                            <div class="sort-price-input" id="sort-price-input">
                                Từ thấp đến cao
                                <i class="sort-price-button fa fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="sort-price-body" id="sort-price-body">
                            <div class="sort-filter" id="desc" onclick="updateSortOrder('desc')">
                                <a class="btn-sort">
                                    <div class="icon">
                                        <i class="fa-solid fa-arrow-down-wide-short" style="margin-top: 3px; margin-right: 3px;"></i>
                                        Từ thấp đến cao
                                    </div>
                                </a>
                            </div>
                            <div class="sort-filter" id="asc" onclick="updateSortOrder('asc')">
                                <a class="btn-sort">
                                    <div class="icon">
                                        <i class="fa-solid fa-arrow-up-wide-short" style="margin-top: 3px; margin-right: 3px;"></i>
                                        Từ cao đến thấp
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    @if (Model.ListSearchHotel != null)
                    {
                        @foreach (var hotel in Model.ListSearchHotel)
                        {
                            <a asp-page="/Room/RoomDetail" asp-route-id="@hotel.Rooms.FirstOrDefault()?.RoomId">
                                <div class="row room-item m-0 mb-4 wow fadeinup" data-wow-delay="0.1s">
                                    <div class="col-md-5 col-lg-12 col-xl-5 p-0" style="min-height: 300px;">
                                        <input type="hidden" name="hotelId" value="@hotel.HotelId" />
                                        <div class="position-relative h-100">
                                            @foreach (var hotelImage in hotel.HotelImages)
                                            {
                                                <img class="position-absolute w-100 h-100" src="@hotelImage.ImageUrl" alt="Image of @hotel.HotelName" style="object-fit: cover;">
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-lg-12 col-xl-7 h-100 px-0">
                                        <div class="p-4 body-list-hotel">
                                            <div>
                                                <h5 class="mb-3">@hotel.HotelName</h5>
                                                <h7 class="mb-3 text-dark"><i class="fas fa-map-marker-alt hoteladdress text-primary"></i> @hotel.HotelAddress</h7>
                                                <h5 class="mb-3 text-dark">
                                                    @hotel.Category.CategoryName
                                                </h5>
                                                <div class="d-flex mb-3">
                                                    @{
                                                        // Tiện nghi
                                                        var amenities = new List<KeyValuePair<string, string>>();
                                                        switch (hotel.HotelId)
                                                        {
                                                            case 1:  // Standard Room
                                                            case 9:
                                                            case 10:
                                                                amenities = new List<KeyValuePair<string, string>>
                                            {
                                            new KeyValuePair<string, string>("Free Wifi", "fa-wifi"),
                                            new KeyValuePair<string, string>("TV", "fa-tv"),
                                            new KeyValuePair<string, string>("Air Conditioning", "fa-fan")
                                            };
                                                                break;

                                                            case 2:  // Deluxe Room
                                                                amenities = new List<KeyValuePair<string, string>>
                                            {
                                            new KeyValuePair<string, string>("Free Wifi", "fa-wifi"),
                                            new KeyValuePair<string, string>("Flat-screen TV", "fa-tv"),
                                            new KeyValuePair<string, string>("Air Conditioning", "fa-fan")
                                            };
                                                                break;

                                                            case 3:  // Suite Room
                                                                amenities = new List<KeyValuePair<string, string>>
                                            {
                                            new KeyValuePair<string, string>("Free Wifi", "fa-wifi"),
                                            new KeyValuePair<string, string>("TV", "fa-tv"),
                                            new KeyValuePair<string, string>("Village View", "fa-mountain")
                                            };
                                                                break;

                                                            case 4:  // Family Room
                                                                amenities = new List<KeyValuePair<string, string>>
                                            {
                                            new KeyValuePair<string, string>("Free Wifi", "fa-wifi"),
                                            new KeyValuePair<string, string>("TV", "fa-tv"),
                                            new KeyValuePair<string, string>("Living Area", "fa-couch")
                                            };
                                                                break;

                                                            case 5:  // Executive Room
                                                                amenities = new List<KeyValuePair<string, string>>
                                            {
                                            new KeyValuePair<string, string>("Free Wifi", "fa-wifi"),
                                            new KeyValuePair<string, string>("Flat-screen TV", "fa-tv"),
                                            new KeyValuePair<string, string>("Mini-bar", "fa-wine-glass-alt")
                                            };
                                                                break;

                                                            case 6:  // Villa with Private Pool
                                                                amenities = new List<KeyValuePair<string, string>>
                                            {
                                            new KeyValuePair<string, string>("Free Wifi", "fa-wifi"),
                                            new KeyValuePair<string, string>("Private Pool", "fa-swimmer"),
                                            new KeyValuePair<string, string>("Garden", "fa-tree")
                                            };
                                                                break;

                                                            case 11: // Suite Room with Village View
                                                                amenities = new List<KeyValuePair<string, string>>
                                            {
                                            new KeyValuePair<string, string>("Free Wifi", "fa-wifi"),
                                            new KeyValuePair<string, string>("TV", "fa-tv"),
                                            new KeyValuePair<string, string>("Village View", "fa-mountain")
                                            };
                                                                break;
                                                        }

                                                    }
                                                    <div class="d-flex mb-3">
                                                        @foreach (var amenity in amenities.Take(3))
                                                        {
                                                            <small class="border-end me-3 pe-3 text-dark">
                                                                <i class="fa @amenity.Value text-primary me-2"></i>@amenity.Key
                                                            </small>
                                                        }
                                                    </div>
                                                </div>
                                                <p class="text-body mb-0">@hotel.HotelDescription.</p>
                                            </div>
                                            <div>
                                                <div class="d-flex align-items-center justify-content-between mb-3">
                                                    <small class="bg-primary text-white rounded py-1 px-3">@String.Format("{0:0,0VND}", hotel.Rooms.FirstOrDefault().RoomPrice)</small>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </a>
                        }
                    }
                    else
                    {
                        <p class="text-danger mt-4">No hotels found. Please try another search.</p>
                    }
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const sortPriceInput = document.getElementById('sort-price-input');
        const sortPriceBody = document.getElementById('sort-price-body');
        sortPriceInput.innerHTML = 'Hiển thị theo... <i class="sort-price-button fa fa-chevron-down"></i>';

        sortPriceInput.addEventListener('click', () => {
            sortPriceBody.style.display = 'block';
        });
        document.addEventListener('click', (event) => {
            if (!sortPriceInput.contains(event.target) && !sortPriceBody.contains(event.target)) {
                sortPriceBody.style.display = 'none';
            }
        });
        function updateSortOrder(sort) {
            const sortPriceInput = document.getElementById('sort-price-input');
            const sortPriceBody = document.getElementById('sort-price-body');

            if (sort === 'asc') {
                sortPriceInput.innerHTML = 'Từ cao đến thấp <i class="sort-price-button fa fa-chevron-down"></i>';
            } else if (sort === 'desc') {
                sortPriceInput.innerHTML = 'Từ thấp đến cao <i class="sort-price-button fa fa-chevron-down"></i>';
            }

            sortPriceBody.style.display = 'none';
        }
    });
</script>